/* .lei_ming{
    width: 98%;
    height: 40em;
    background: red;
    margin: 1%;
    position: relative;
} */

/* @media (max-width: 480px) { 
    .lei_ming{
        transform: rotate(90deg);    
    }
 }  */




 @media screen and (orientation: portrait) {
    html{
       width : 100% ;
       height : 100% ;
        background-color: white ;
        overflow : hidden;
    }
    body{
        width : 100% ;
       height : 100% ;
       /* background-color: red ; */
        overflow : hidden;
    }
    #print{
       position : absolute ;
       /* background-color: yellow ; */
    }
    .page-home .all .home-start .img{
        width: 689px;
        height: 342px;
        top: 33px;
       }
       .page-home .home-main .logo{
        width: 118px;
        top: 5px;
        left: 3px;
       }
       .page-home .home-main .course{
        width: 207px;
        top: 61px;
        left: 45px;
       }
       .page-home .home-main .course .box{
        width: 37px;
        height: 35px;
        font-size: 27px;
        line-height: 37px;
        margin-right: 6px;
       }
       .page-home .home-main .top .icon{
        width: 41px;
        height: 41px;
        margin-right: 11px;
        margin-top: -10px;
       }
       .page-home .home-bot .floor{
           padding: 0;
       }
       .page-home .home-bot .floor .box{
        width: 50px;
        font-size: 20px;
        height: 31px;
        margin-right: 8px;
        margin-top: 17px;
        line-height: 30px;
       }
       .page-home .home-bot .floor .menu{
        width: 85px;
        font-size: 14px;
        margin-top: 18px;
        position: relative;
        left: 68px;
        height: 33px;
        line-height: 32px;
       }
       .page-home .home-bot .floor .quzi{
           width: 70px;
       }
      .page-home .home-main .top .mycamp{
        width: 118px;
        height: 35px;
        line-height: 22px;
        margin-top: -15px;
        margin-right: -37px;
        font-size: 26px;
        margin-left: 10px;
       }
       .page-home .all .home-start .start{
        width: 199px;
        height: 52px;
        top: 207px;
        left: 306px;
       }     
       .page-home .home-bot .lesson{
        height: 294px;
       }
       .home-bot .row{
        margin-right: -25px;
       }
} 
@media screen and (orientation: landscape) {
     html{
       width : 100% ;
       height : 100% ;
       background-color: white ;
    } 
     body{
        width : 100% ;
       height : 100% ;
       background-color: white ;
    }
         #print{
          position : absolute ;
          top : 0 ; 
          left : 0 ;
          width : 100% ;
          height : 100% ;
          /* background-color: yellow ; */
       }

       
}

/* #print p{
    margin: auto ;
    margin-top : 20px ;
    text-align: center;
  } */