html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    margin: 0;
    padding: 0
}
a,
input,
textarea,
select,
button {
    outline: none;
    font-family: "微软雅黑", Helvetica, sans-serif;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    color: #aaa;
}
ul, ol, dl{list-style: none;}

a {
    background-color: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img{
    display: block;
    width: 100%;
}
div,ul, ol, dl, li, p{
    box-sizing: border-box;
}

::-webkit-scrollbar { background: none; width: 0px; height: 0px; }

::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.4); border-radius: 4px; }
body {
    font-family: "微软雅黑", Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    position: relative;
}


.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1119px) {
    body{
        width: 1200px;
    }
    .page-home .all{
        width: 100%;
    }
}