.lei_ming{
    width: 98%;
    height: 40em;
    background: red;
    margin: 1%;
    position: relative;
}

@media (max-width: 428px) { 
    .lei_ming{
        transform: rotate(90deg);
        margin-left: -51%;
        margin-top: 54%;
        width: 54em;
        height: 26em;
    }
 } 