<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>克拉申小游戏</title>
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/vue.js"></script>
</head>
<body class="page6 page7">

<div id="all">
    <div class="container bg2" >
        <div class="mask"></div>
        <div class="main">
            <div class="icon-next"></div>
            <div class="cover"></div>
            <canvas id="myCanvas"></canvas>
            <div class="good"></div>
        </div>

        <div class="matter">
            <div class="word" v-show="isShowTxt"><p>{{currentData.text}}</p></div>

            <div class="start" @click="loadFun"></div>
            <div class="loading"><p></p><div class="p">正在加载...</div></div>

            <div class="btn-state">
                <div class="box prev" @click="againPlay">
                    <div class="xian"></div>
                    <div class="sj"></div>
                </div>
                <div class="box refresh" @click="againPlay">
                    <div class="sx"></div>
                </div>
                <div class="box next" @click="nextFun">
                    <div class="sj"></div>
                    <div class="xian"></div>
                </div>
            </div>
        </div>

    </div>

    <audio src="mp3/page6/s1.mp3" id="myAudio" type="audio/mpeg"></audio>
    <audio src="mp3/page6/fail.mp3" id="failAudio" type="audio/mpeg"></audio>
    <audio src="mp3/page6/succ.mp3" id="succAudio" type="audio/mpeg"></audio>
    <audio src="mp3/page7/good.mp3" id="goodAudio" type="audio/mpeg"></audio>
</div>
</body>

<script>
    audio = document.getElementById('myAudio'); 
    failAudio = document.getElementById('failAudio')
    succAudio = document.getElementById('succAudio')
    goodAudio = document.getElementById('goodAudio')

    var list = [
        {id: 1, text: 'Pop the blue balloon.'},
        {id: 2, text: 'Pop the yellow balloon.'},
        {id: 3, text: 'Pop the orange balloon.'},
        {id: 4, text: 'Pop the red balloon.'},
        {id: 5, text: 'Pop the green balloon.'},
        {id: 6, text: 'Pop the purple balloon.'},
    ]
    vm = new Vue({
        el: '#all',
        data: {
            list: list,
            currentData: {}, //当前数据
            currentIndex: 0, //当前数据下标
            succNum: 0, //答对的个数
            isMoveFlag: true, //是否运动
            isShowTxt: false,
        },
        computed: {
            musicArr: function(){
                var arr = [];
                for(var i = 1; i<= 6; i++){
                    arr.push('mp3/page6/s' + i +'.mp3')
                }
                return arr;
            }
        },
        methods: {
            init: function(){
                $('.matter').addClass('cur')
                $(canvas).css('opacity', 1)
                this.playFun()
            },
            loadFun: function(){
                var _this = this;
                var w = 1;
                $('.main .cover').hide()
                $('.matter .start').hide()
                $('.loading').show()
                audio.play()
                audio.pause()
                goodAudio.play()
                goodAudio.pause()
                var inter = setInterval(function(){
                    if(w <= 100){
                        $('.loading p').css('width', w + '%')
                    }else{
                        clearInterval(inter)
                        $('.loading').hide()
                        setTimeout(_this.init, 100)
                    }
                    w += 1;
                }, 1)
            },
            /*刷新*/
            refreshFun: function(){
                $('.main .icon-next').hide()
                this.againPlay()
            },
            /*重播当前的*/
            againPlay: function(){
                $('.good').hide()
                $('.btn-state').hide()
                this.currentIndex = 0;
                this.succNum = 0;
                for(var i = 0; i < ballArr.length; i++){
                    ballArr[i].y = ballArr[i].y1 + canvas.height;
                }
                this.playFun()
                if(!this.isMoveFlag){
                    this.isMoveFlag = true;
                    initAnim()
                }
            },
            /*下一个*/
            nextFun: function(){
                clearTimeout(interval)
                this.currentIndex += 1;
                if(this.currentIndex < this.list.length){
                    this.playFun()
                }else if(this.currentIndex === this.list.length){
                    $('.btn-state').css('display', 'flex')
                    if(this.succNum === 6){
                        goodAudio.play()
                        this.currentData = {text: 'You are Good!'}
                        $('.good').show()
                        $('.btn-state .refresh').hide()
                        $('.btn-state .prev').show()
                    }else{
                        this.isMoveFlag = false;
                        $('.btn-state .refresh').show()
                        $('.btn-state .prev').hide()
                    }
                }else{
                    $('.btn-state').hide()
                    $('.main .icon-next').show()
                }
            },
            playFun: function(){
                var obj = this.list[this.currentIndex]
                var _this = this;
                var i = 0;
                var time = obj.time || 1000;
                this.currentData = obj
                audio.src = this.musicArr[this.currentIndex]
                audio.play()
                succ_fl = false;
                interval = setTimeout(function(){
                    _this.nextFun()
                }, 30000)
            }
        }
    })
</script>

<script>

init()
function init(){
    canvas = document.getElementById("myCanvas");
    ctx = canvas.getContext("2d");
    var width = $('.main').width()
    canvas.height = $('.main').height();
    canvas.width = $('.main').width();
    $(canvas).css('opacity', 0)
    
    timing = 0;
    isFlag = 0; //1：点对气球  2：点错气球
    succ_id = [];

    ballArr = [
        {id: 5, w: 263, h: 298, x: 500, y: 0, y1: 750, speed: 1, color: '0-204-0-255'},
        {id: 1, w: 210, h: 238, x: 380, y: 0, y1: 200, speed: 1, color: '0-0-204-255'},
        {id: 4, w: 210, h: 238, x: 600, y: 0, y1: 600, speed: 1, color: '243-24-2-255'},
        {id: 2, w: 210, h: 238, x: 100, y: 0, y1: 300, speed: 1, color: '255-255-0-255'},
        {id: 6, w: 263, h: 298, x: 720, y: 0, y1: 0, speed: 1, color: '204-0-255-255'},
        {id: 3, w: 263, h: 298, x: 220, y: 0, y1: 350, speed: 1, color: '255-140-0-255'},
    ]
    
    var i = 0;
    drawImg()
    function drawImg(){
        if(i === ballArr.length){
            initAnim()
            return;
        }
        var img_a = new Image()
        var img = new Image();
        img.onload = function(){
            ballArr[i].img = img;
            ballArr[i].img_a = img_a;
            ballArr[i].y = ballArr[i].y1 + canvas.height;
            i++;
            drawImg()
        }
        img_a.src = 'images/page6/ball'+ ballArr[i].id +'_a.png';
        img.src = 'images/page6/ball'+ ballArr[i].id +'.png';
    }
}

$('.matter').on('click', function(event){
    if(!$(this).hasClass('cur')){
        return
    }
    var rect = canvas.getBoundingClientRect();
    var x = event.clientX - rect.left;
    var y = event.clientY - rect.top;
    // rgbaPicker就是点击像素点的颜色信息
    rgbaPicker = ctx.getImageData(x, y, 1, 1).data;
    // console.log(rgbaPicker.join('-'));
    var flag = true; //true:点在气球上 
    if(rgbaPicker.join('') === '0000'){
        flag = false;
    }
    if(flag){
        var x1 = event.clientX - $(this).offset().left;
        var y1 = event.clientY - $(this).offset().top;
        var id = getPostId(x1, y1, rgbaPicker.join('-'));
        if(id){
            if(id === vm.$data.currentData.id){
                succ_id.push(id);
                succFun()
            }else{
                fail_id = id;
                failFun()
            }
        }
    }
})

function succFun(){
    succAudio.load()
    succAudio.play()
    succ_num = 10;
    vm.$data.succNum += 1;
    succ_fl = true;
    isFlag = 1;
}

function failFun(){
    failAudio.load()
    failAudio.play()
    failh = 1; //运动时加的数据
    fail_fl = true; //加还是减
    isFlag = 2;
}

//初始动画
function initAnim(){
    ctx.clearRect(0, 0, canvas.width, canvas.height)
    if(isFlag === 2 && failh < 0){
        isFlag = 0
    }
    if(isFlag === 1 && succ_num < 0){
        isFlag = 0;
        vm.nextFun()
    }
    var i = 0;
    for(var i = 0; i < ballArr.length; i++){
        if(isFlag === 0){
            drawImg(i)
        }else if(isFlag === 1){
             //成功
            if(vm.$data.currentData.id === ballArr[i].id){
                ballArr[i].y -= ballArr[i].speed ;
                if(succ_num > 4){
                    ctx.drawImage(ballArr[i].img_a, ballArr[i].x, ballArr[i].y, ballArr[i].w, ballArr[i].h)
                }
                succ_num--;
            }else{
                drawImg(i)
            }
        }else if(isFlag === 2){
            //失败
            if(fail_id === ballArr[i].id){
                ballArr[i].y -= ballArr[i].speed ;
                var y = ballArr[i].y + failh;
                var h = ballArr[i].h + failh * 2;
                ctx.drawImage(ballArr[i].img, ballArr[i].x, y, ballArr[i].w, h)
                if(fail_fl){
                    failh++;
                }else{
                    failh--;
                }
                if(failh === 15){
                    fail_fl = false;
                }
            }else{
                drawImg(i)
            }
        }
    }
    if(vm.$data.isMoveFlag){
        requestAnimationFrame(initAnim);
    }else{
        ctx.clearRect(0, 0, canvas.width, canvas.height)
    }
}

function drawImg(i){
    ballArr[i].y -= ballArr[i].speed;
    var a = succ_id.indexOf(ballArr[i].id)
    if(a < 0){
        ctx.drawImage(ballArr[i].img, ballArr[i].x, ballArr[i].y, ballArr[i].w, ballArr[i].h)
    }
    if(ballArr[i].y < -ballArr[i].h){
        ballArr[i].y = canvas.height + ballArr[i].h;
        if(a >= 0){
            succ_id.splice(a, 1)
        }
    }
}

//是否点在图片上
function getPostId(x1, y1, color){
    var id = '';
    for(var i = 0; i < ballArr.length; i++){
        var obj = ballArr[i];
        if(x1 > obj.x && x1 < obj.x + obj.w && y1 > obj.y && y1 < obj.y + obj.h && color === obj.color){
            id = obj.id;
        }
    }
    return id;
}

</script>
</html>